<div class='container-fluid new_container'>
  <%= form_for @planetarySystem do |f| %>

  <% if @planetarySystem.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@planetarySystem.errors.count, "error") %> prohibited
        this planetary system from being saved:
      </h3>
      <% @planetarySystem.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <strong>Warning!</strong> <%= msg %>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class='form-group row'>
    <%= f.label :name, class: 'col-2 col-form-label' %>
    <div class='col-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :age, class: 'col-2 col-form-label' %><br>
    <div class='col-10'>
      <%= f.number_field :age, class: 'form-control', min: 0 %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :description, class: 'col-2 col-form-label' %>
      <%= md_simple_editor do %>
        <%= f.text_area :description, as: :text %>
      <% end %>
  </div>

  <div class='form-group row'>
    <%= f.label :image, class: 'col-2 col-form-label' %><br>
    <div class='col-10'>
      <%= f.file_field :image, onchange: "validateFiles(this);", data: { max_file_size: 5.megabytes },
      class: 'form-control', dragdrop: true %>
        <br><p>
        <%= f.submit class: 'btn btn-primary' %>
      </p>
    </div>
  </div>



  <% end %>
</div>
