<div class='page-header'>
  <h1>Planetary systems</h1>
</div>

<% if flash[:notice] %>
<div class="alert alert-info">
  <strong>Info!</strong> <%= flash[:notice] %>
</div>
<% end %>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-10 col-sm-12'>
      <div class='row'>
        <% @planetarySystems.each do |system| %>
        <div class='systems_block col-md-4 col-sm-6 col-xs-12' >
          <div class='row'>
            <div class='col-md-5 col-sm-5 col-xs-12'><%= image_tag(system.image_url(:thumbnail)) %></div>
            <div class='col-md-7 col-sm-7 col-xs-12'><h3><%= system.name %></h3>
              <p>Age: <%= system.age %>
                <% if system.age > 1  %>
                mld years
                <% else %>
                mld year
                <% end %></p>
                <p class='options'><%= link_to 'Show', planetary_system_path(system) %></div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class='col-md-1 col-sm-0'></div>
        </div>
