@import "bootstrap-sprockets";
@import "bootstrap";

 body {
    overflow-x: hidden;
 }

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.systems_block {
  background-color:#040433;
  border: 3px solid white;
  color: white;
  padding-left: 0
}

.systems_block .options {
  text-align: center;
}

.new_system {
  display: block;
}

.new_system a {
  color: white;
  text-decoration: none;
}

.show_system a {
  color: white;
  text-decoration: none;
}

.new_container {
  width:50%;
  margin:0 auto;
}

#md-text textarea {
  width:100%;
}
